{% extends 'html/base.html' %}

{% load filtrosExtra %}

{% block body %}

<form style="display: inline-block;" id="button11" method="get" action="{% if mode == "Accidentales"%}/rep{% endif %}/paretos">
  <input style="display: inline-block;" class="boton" type="submit" value="Paretos A380">
</form>
<form style="display: inline-block;" id="button12" method="get" action="{% if mode == "Accidentales"%}/rep{% endif %}/paretos/layup">
  <input style="display: inline-block;" class="boton" type="submit" value="Paretos Lay-Up">
</form>
<form style="display: inline-block;" id="button13" method="get" action="{% if mode == "Accidentales"%}/rep{% endif %}/paretos/ind">
  <input class="boton" type="submit" style="display: inline-block;" value="Paretos Area Industrial">
</form>

<form style="display: inline-block;" id="button23" method="get" action="/{{mes}}/exportPDFPareto" >
  <input class="boton" type="submit" style="display: inline-block;" value="PDF {{mesNombre}}">
</form>

<form style="display: inline-block;" id="button23" method="get" action="/{{mes}}/exportPDFTableMonth" >
  <input class="boton" type="submit" value="Tablas {{mesNombre}}">
</form></br></br>

{% if myUser.admin %}
<form style="display: inline-block;" id="button21" style="margin-left:50px" method="get" action="/updateParetos/{{mes}}">
  <input class="boton" type="submit" style="display: inline-block;" value="Actualizar Paretos {{mesNombre}}">
</form>
<form style="display: inline-block;" id="button22" method="get" action="/exportarParetos/{{mes}}">
  <input class="boton" type="submit" style="display: inline-block;" value="Añadir Tabla {{mesNombre}}">
</form>

<form style="display: inline-block;" id="button24" method="get" action="/updateParetos/todos">
  <input class="boton" type="submit" style="display: inline-block;" value="Actualizar Todos Paretos">
</form>

{% endif %}

{% block pareto %}

{% endblock %}

{% endblock body %}