{% extends 'html/base.html' %}

{% block body %}
<!-- <style>

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style> -->

<table>
  <tr>
    <th>Programa</th>
    <th>Seccion</th>
    <th>Componente</th>
    {% if a380 %}
    <th>Designacion</th>
    <th>Defecto</th>
    {% else %}
    <th>Pieza</th>
    <th>Desviacion</th>
    {% endif %}
    <th>Area</th>
    <th>Horas</th>
    <th>SGM</th>
    <th>Descripcion</th>
    <th>Fecha</th>
    <th>Creado por</th>
    <th>Ultimo usuario en modificar</th>
    </tr>
  <tr>
    <td>{{f412.programa.name}}</td>
    <td>{{f412.seccion.name}}</td>
    <td>{{f412.Componente.name}}</td>
    {% if a380 %}
    <td>{{f412.Designacion.name}}</td>
    {% else %}
    <td>{{f412.pieza.name}}</td>
    {% endif %}
    <td>{{f412.Defecto.name}}</td>
    <td>{{f412.Area.name}}</td>
    <td>{{f412.horas}}</td>
    <td>{{f412.SGM.number}}</td>
    <td>{{f412.Descripcion}}</td>
    <td>{{date}}</td>
    <td>{{f412.Usuario.email}}</td>
    <td>{{f412.LastChangeUser.email}}</td>
  </tr>

</table><br>

<table>
  {% if f412.Estado.name == "Activo" and myUser.puedeCrear == True %}
<form action="/f412/{{f412.seccion.name}}/{{f412.myID}}" method="post">
  <tr>
    <th>Estado Actual</th>
    <th>Nuevo Estado</th>
    <th>Accion / Comentarios</th>
    <th>Enviar</th>
  </tr>
  <tr>
    <td>{{f412.Estado.name}}</td>
    <td><select name = "newStatus">
      {% for status in statusList %}
        {% if status == f412.Estado %}
          <option value = {{ status.name }} selected> {{ status.name }}</option>
        {% else %}
          <option value = {{ status.name }} > {{ status.name }}</option>
        {% endif %}
      {% endfor %}
    </select></td>
    <td><input type = "text" name="action"></td>
    <td><input type = "submit" value = "Submit"></td>
  </tr>
</form>
{% elif f412.Estado.name != "Activo" or myUser.puedeCrear == False %}
  <tr>
    <th>Estado</th>
    <th>Accion / Comentarios </th>
  </tr>
  <tr>
    <td>{{f412.Estado.name}}</td>
    <td>{{f412.Estado.accion}}</td>
  </tr>
{% endif %}
</table>


</body>
</html>

{% endblock body %}
