{% extends 'html/base.html' %}

{% block body %}
{% if myUser.typeUser.name != "Subcontrata" and myUser.typeUser.name != "Lectura" %}

{% if program380 %}
  {% if mode == "Reparaciones" %}
    <form id="button1" method="get" action="/380/nuevoF412">
      <input class="boton" type="submit" value="F412 A380">
    </form>
  {% else %}
    <form id="button1" method="get" action="/380/nuevaRep">
      <input class="boton" type="submit" value="Reparaciones A380">
    </form>
  {% endif %}
{% endif %}

{% if program350 %}
  {% if mode == "Reparaciones" %}
    <form id="button1" method="get" action="/350/nuevoF412">
      <input class="boton" type="submit" value="F412 A350">
    </form>
  {% else %}  
    <form id="button1" method="get" action="/350/nuevaRep">
      <input class="boton" type="submit" value="Reparaciones A350">
    </form>
  {% endif %}
{% endif %}


{% if mode == "Reparaciones" %}
  <h1 id="titleH">F412 para A{{program.name}}</h1><br>
{% else %}
  <h1 id="titleH">Reparacion para A{{program.name}}</h1><br>
{% endif %}     

{% block form %}
{% endblock %}

{% else %}
    <h1>No tiene permisos para acceder a esta dirección</h1>
{% endif %}
{% endblock body %}