{% extends 'html/form.html' %}

{% load filtrosExtra %}

{% block form %}
  <h1>Reparación Nº <a href="/rep/{{currentRep.seccion.name}}/{{currentRep.myID}}">{{currentRep.myID}}</a></h1>
  <h1>Modo Edición</h1>
  {% if newID %}
    {% if error == "None" %}
      <h2>F412 Editado</h2>
    {% else %}
      <h2>{{error}}</h2>
    {% endif %}
  {% endif %}

  <form action="/repEdit/{{currentRep.id}}"
          method="post" name="myForm" onsubmit="return validateForm()"></p>
    <div class="row">
      <div class="column">
        <div>Seccion 
          <select name = "section">
            <!-- <option value = "default">Por Defecto</option> -->
            {% for section in sectionList %}
            <option value = {{ section.name }}> A{{ section.name }}</option>
            {% endfor %}
          </select> <br>
        </div>

        <div>Componente
          <select name = "Component" select id="ComponentID" onchange="ComponentFunction()">
            {% for component in componentList %}
              {% if component == currentRep.Componente %}
                <option selected value = {{ component.name }}> {{ component.name }}  {{component.id}}</option>
              {% else %}
                <option value = {{ component.name }}> {{ component.name }}</option>
              {% endif%}                              
            {% endfor %}
          </select> <br>
        </div>

        <div>Designacion
          <select name = "Designation" id="DesignationID" onchange="DesignationFunction()"><br>
            <option value = "{{currentRep.Designacion.name}}">{{currentRep.Designacion.name}}</option>
          </select> <br>
        </div>

        <div>P/N
          <select name = "parNumber" id="PNID"><br>
            <option value = "{{currentRep.PN.name}}">{{currentRep.PN.name}}</option>
          </select> <br>
        </div>

        <div>Area Causante
          <select name = "Area">
            <option value = "default">Por Defecto</option>
            {% for area in areaList %}
              {% if area == currentRep.Area %}
                <option selected value = {{ area.name }}> {{ area.name }}</option>
              {% else %}
                <option value = {{ area.name }}> {{ area.name }}</option>
              {% endif %}                                
            {% endfor %}
          </select> <br>
        </div>

        <div>Defecto
          <select name = "Defect">
            <option value = "default">Por Defecto</option>
            {% for defect in defectList %}
              {% if defect == currentRep.Defecto %}
                <option selected value = {{ defect.name }}> {{ defect.name }} </option>
              {% else %}
                <option value = {{ defect.name }}> {{ defect.name }} </option>
              {% endif %}                                
            {% endfor %}
          </select> <br>
        </div>

        <div>Código Causa
          <select name="codCaus" id="codCaus">
            {% for codCaus in codCausList %}
              {% if codCaus == currentRep.codigoCausa %}
                <option selected value="{{codCaus.name}}">{{codCaus.name}}</option>   
              {% else %}
                <option value="{{codCaus.name}}">{{codCaus.name}}</option>   
              {% endif %}
            {% endfor %}
          </select>
        </div><br>
        
      </div>
      <div class="column">   
      
        <div>H.N.C<br>
          <input type = "number"  name = "Ref" value="{{currentRep.hnc}}"><br>
        </div>
          
        <div>CAVT
          <select name = "rt1">
            {% for rt in rt1 %}
              {% if rt.shortName != "Others" %}
                <option value="{{rt.nivel1.codigo}}">{{rt.nivel1.codigo}} - {{rt.nivel1.nombre}}</option>
              {% endif %}                          
            {% endfor %}
            <option value="Others"> Others</option> 
          </select>
        </div>

        <div>Referencia<br>
          <input type = "number"  name = "Ref" value="{{currentRep.Referencia}}"><br>
        </div>

        <div>SGM Solicitante
          <select name = "SGM">
            <option value = "default">Por Defecto</option>
            {% for SGM in SGMList %}
              {% if SGM == currentRep.SGM %}
                <option selected value = {{ SGM.number }}> {{ SGM.number }}</option>
              {% else %}            
                <option value = {{ SGM.number }}> {{ SGM.number }}</option>                    
              {% endif %}                                
            {% endfor %}
          </select> <br>
        </div>
        
        <div>Horas<br>
        <input type = "number" name ="numH" value="{{currentRep.horas|changeDot}}"></br></div>
        
        <div>Descripcion<br>
        <textarea id="textDescp" rows="5" cols="30">{{currentRep.Descripcion}}</textarea>
        <input type="text" hidden name = "Descp" id="descp" ></div></br>
        
        
        <input id="submit" type = "submit" value = "Enviar">
      </div>
    </div>
  </form>

  <p id="DesignationID"></p>

  <script>
  
  function calcHRec(){
    var nOp = document.forms["myForm"]["nOp"].value;
    var numH = document.forms["myForm"]["numH"].value;
    document.forms["myForm"]["hRec"].value = nOp*numH;                         
  }
  
  function ComponentFunction() {
    document.getElementById("DesignationID").innerHTML = "<option value = default> Por Defecto </option>";
    var component = document.getElementById("ComponentID").value;
    
    {% for designa in designaList%}
      var name = "{{designa}}"
      // LINEAS AnADIDAS PARA CONTROLAR PROBLEMA DEL COMIENZA CON, PUES S_19 Y S_19.1
      // COMIENZAN IGUAL Y COGIA EN S_19 LOS DE S_19.1, ESTO HACE QUE NO FUNCIONEN
      // DESIGNACIONES QUE NO TENGAN PUNTOS, AHORA NINGUNA LOS TIENE
      var nameNoComp = name.substring(component.length + 1, name.length);
      var n = (nameNoComp).split('.').length;
      if(name.startsWith(component) && n==1){
        newName = name.substring(name.lastIndexOf('.') + 1, name.length);
        document.getElementById("DesignationID").innerHTML += "<option value = " + newName + ">" + newName + "</option>";
      }
    {% endfor %}
  }

  function DesignationFunction(){
    document.getElementById("PNID").innerHTML = "";
    var designation = document.getElementById("DesignationID").value;
    {% for parNumber in PNList%}
    var name = "{{parNumber}}"
    if(name.startsWith(designation)){
      newName = name.substring(name.lastIndexOf(".") + 1, name.length);
      document.getElementById("PNID").innerHTML += "<option value = " + newName + ">" + newName + "</option>";
    }
    {% endfor %}
  }

  function validateForm() {
    var variablesDef = [];
    var variablesWhite = [];
    variablesDef[0] = document.forms["myForm"]["Component"].value;
    variablesDef[1] = document.forms["myForm"]["Designation"].value;
    variablesDef[2] = document.forms["myForm"]["parNumber"].value;
    variablesDef[3] = document.forms["myForm"]["Area"].value;
    variablesDef[4] = document.forms["myForm"]["Defect"].value; 
    variablesDef[5] = document.forms["myForm"]["SGM"].value;
    variablesWhite[0] = document.forms["myForm"]["Ref"].value;
    variablesWhite[1] = document.forms["myForm"]["numH"].value;
    document.forms["myForm"]["Descp"].value = document.getElementById("textDescp").value;                 
    variablesWhite[2] = document.forms["myForm"]["Descp"].value;
    for (i = 0; i < variablesWhite.length; i++) {
      if (variablesWhite[i] == "") {
          alert("No se puede enviar un formulario con campos en blanco");
          return false;
      }
    }
    for (i = 0; i < variablesDef.length; i++) {
      if (variablesDef[i] == "default") {
          alert("No se puede enviar un formulario con valores por defecto");
          return false;
      }
    }
  }

  </script>

{% endblock form %}
