{% extends 'html/mensual/baseMensual.html' %}

{% load filtrosExtra %}

{% block bodyMensual %}

<h1>Añadir aviones para A{{program}}</h1>

{% if program == "350"%}
  <form id="button2" method="get" action="/avionesMensual/380">
    <input class="boton" type="submit" value="Cambiar A380">
  </form>
{% else %}
  <form id="button2" method="get" action="/avionesMensual/350">
    <input class="boton" type="submit" value="Cambiar A350">
  </form>
{% endif %}

  <form id="planesFormId" action="/avionesMensual/{{program}}" method="post" name="myForm" onsubmit="return validateForm()" style="text-align:center">
   <div class="row">
     <div class="column">
     
        Año        
        <select name="year" select id="year" style="text-align:center">
          {% for year in yearList %}
            {% if year == defYear %}
              <option value="{{year}}" selected> {{year}}</option>
            {% else %}
              <option value="{{year}}"> {{year}}</option>
            {% endif %}
          {% endfor %}
        <select><br>
                                                                             
        {% if program == "350" %}
          {% getNumberPlane component defYear defMonth program as 350Number %}
          
          Aviones entregados
          <div><input type="text" style="text-align:center" name="350Number" value="{{350Number}}"></div></br>
                                                                               
        </div>
        <div class="column" style="margin-left: 40px">
        
          Mes
          <select name="month" select id="month" style="text-align:center">
            {% for month in monthList %}
              {% if month == defMonth %}
                <option value="{{month}}" selected> {{month}}</option>
              {% else %}                           
                <option value="{{month}}"> {{month}}</option>
              {% endif %}
            {% endfor %}  
          <select></br>
          
                                                                                        
        {% endif %}                                                                             

    {% for component in componentList %}   
    
      {% getNumberPlane component defYear defMonth program as componentNumber %}
      {{component}}
      <div><input type="text" style="text-align:center" name="{{component}}Number" value="{{componentNumber}}"></div></br>
     
      {% if component == "COSTILLA" %}
  
    </div>
    <div class="column">
    
      Mes
      <select name="month" select id="month" style="text-align:center">
        {% for month in monthList %}
          {% if month == defMonth %}
            <option value="{{month}}" selected> {{month}}</option>
          {% else %}                           
            <option value="{{month}}"> {{month}}</option>
          {% endif %}
        {% endfor %}
      <select></br>r>
          
      {% endif %}
        
    {% endfor %}        
 
      </br><input id="submit" type = "submit" value = "Enviar">
      </div>
    </div>
  </form>
                            

  <div class="column" style="margin-left:40px">
  </br>
    <div>
    <form id="button2" method="get" action="/changeMonthYear/{{program}}" onsubmit="return changeMonthYear()">
      <input type="submit" value="Cambiar Mes y Año">
    </form>
    </div> 
  </div>                             
  


<script>

function validateForm(){
  monthDef = document.forms["myForm"]["month"].value;   
  if (monthDef > 12){
    alert("El mes no puede ser superior a 12");
    return false;
  }             
}

function changeMonthYear(){
  var form = document.createElement("form");
  form.setAttribute("method", "POST");

  monthDef = document.forms["myForm"]["month"].value;   
  if (monthDef > 12){
    alert("El mes no puede ser superior a 12");
    return false;
  }               
            
  var month = document.createElement("input");
  month.setAttribute("type", "hidden");
  month.setAttribute("name", "month");                       
  month.setAttribute("value", monthDef);                                                     
      
  form.appendChild(month);
                      
  yearDef = document.forms["myForm"]["year"].value;          
  var year = document.createElement("input");
  year.setAttribute("type", "hidden");
  year.setAttribute("name", "year");                       
  year.setAttribute("value", yearDef);                                                     
      
  form.appendChild(year);
  form.setAttribute("action", "/changeMonthYear/{{program}}");
  document.body.appendChild(form);      
  form.submit();  
             
  return false;
}
 
</script>
          
{% endblock bodyMensual %}


