{% extends 'html/modify/modifyBase.html' %}

{% block modifyBody %}

<h1>{{modifyModel}} Componente{% if modeModify != "new" %}: {{componentToModify.name}}{% endif %}</h1>
<h1>{{statusModify}}</h1>
    
{% if modeModify != "new" %}<form style="text-align:center" action="/Component/{{componentToModify.id}}" method="post" >
{% else %}<form style="text-align:center" action="/newComponent" method="post" >{% endif %}
    
    Nombre:</br>
    <input name="componentName" value="{{componentToModify.name}}"></input>  </br></br>
                                     
    Programa:</br>
    <select style="display:block;margin: 0 auto;" name="componentProgram" id="componentProgram">
      {% for program in programList %}
        {% if program == componentToModify.programa %}
          <option value={{ program.name }} selected> A{{ program.name }}</option>
        {% else %}
          <option value={{ program.name }}> A{{ program.name }}</option>
        {% endif %}
      {% endfor %}
    </select></br>
    
    Mostarlo:</br>
    <select style="display:block;margin: 0 auto;" name="componentShouldShow" id="componentShouldShow">
      <option value="True" {% if componentToModify.shouldShow %}selected{% endif %}> Si </option>
      <option value="False" {% if componentToModify.shouldShow == False %}selected{% endif %}> No </option>
    </select></br>
                              
               
    </br> 
    <input id="submit" type = "submit" value = {% if modeModify == "new" %}"Crear"{% else %}"Cambiar"{% endif %}>
    
</form>    

{% endblock modifyBody %}
