{% extends 'html/modify/modifyBase.html' %}

{% block modifyBody %}

<h1>{{modifyModel}} Coste Hora {{costHourToModify.year}}</h1>
<h1>{{statusModify}}</h1>
    
{% if modeModify != "new" %}<form style="text-align:center" action="/CostHour/{{costHourToModify.id}}" method="post" >
{% else %}<form style="text-align:center" action="/newCostHour" method="post" >{% endif %}
    
    Año:</br>
    <input name="costYear" value="{{costHourToModify.year}}"></input>  </br>
                                     
    Coste:</br>
    <input name="price" value="{{costHourToModify.precio}}"></input>  </br>
    
    </br> 
    <input id="submit" type = "submit" value = {% if modeModify == "new" %}"Crear"{% else %}"Cambiar"{% endif %}>
    
</form>    

{% endblock modifyBody %}
