{% extends 'html/modify/modifyBase.html' %}

{% block modifyBody %}

<h1>{{modifyModel}} Designacion{% if modeModify != "new" %}: {{componentToModify.name}}{% endif %}</h1>
<h1>{{statusModify}}</h1>
    
{% if modeModify != "new" %}<form style="text-align:center" action="/Designation/{{designationToModify.id}}" method="post" >
{% else %}<form style="text-align:center" action="/newDesignation" method="post" >{% endif %}
    
    Nombre:</br>
    <input name="designationName" value="{{designationToModify.name}}"></input>  </br></br>
                                     
    Componente:</br>
    <select style="display:block;margin: 0 auto;" name="designationComponent" id="designationComponent">
      {% for component in componentList %}
        {% if component == designationToModify.Componente %}
          <option value={{ component.name }} selected> {{ component.name }}</option>
        {% else %}
          <option value={{ component.name }}> {{ component.name }}</option>
        {% endif %}
      {% endfor %}
    </select></br>
    
    Par Number<br>
    <a href="/PN/{{designationToModify.PN.id}}">{{designationToModify.PN.name}}</a> <br>      
               
    </br> 
    <input id="submit" type = "submit" value = {% if modeModify == "new" %}"Crear"{% else %}"Cambiar"{% endif %}>
    
</form>    

{% endblock modifyBody %}
