{% extends 'html/modify/modifyBase.html' %}

{% block modifyBody %}

<h1>Módulos</h1>

<table>

  <tr>
    <td style="text-align:center"><a href="/modifyProgramPage">Programa</a></td>
    <td style="text-align:center"><a href="/modifySectionPage">Seccion</a></td>
  </tr>
  <tr>
    <td style="text-align:center"><a href="/modifyComponentPage">Componente</a></td> <!-- ACORDAR METER APT5 -->
    <td style="text-align:center"><a href="/modifyDesignationPage">Designación</a></td>
  </tr>
  <tr>
    <td style="text-align:center"><a href="/modifyAreaPage">Area</a></td>
    <td style="text-align:center"><a href="/modifyPNPage">Par Number</a></td>
  </tr>
  <tr>
    <td style="text-align:center"><a href="/modifyDefectPage">Defecto</a></td>
    <td style="text-align:center"><a href="/modifyPiecePage">Pieza</a></td>
  </tr>
  <tr>
    <td style="text-align:center"><a href="/modifyStatusPage">Estado</a></td>
    <td style="text-align:center"><a href="/modifySGMPage">SGM</a></td>
  </tr>
  <tr>
    <td style="text-align:center"><a href="/modifyRTPage">Reason Tree</a></td>
    <td style="text-align:center"><a href="/modifyCodCausPage">Código Causa</a></td>
  </tr>
  <tr>
    <td style="text-align:center"><a href="/modifyCostHourPage">Coste Hora (Paretos)</a></td>
    <td style="text-align:center"><a href="/modifyAreaCausPage">Area causante (A350)</a></td>
  </tr>

</table>

{% endblock modifyBody %}
