{% extends 'html/modify/modifyBase.html' %}

{% block modifyBody %}

<h1>{{modifyModel}} Par Number {% if modeModify != "new" %}: {{componentToModify.name}}{% endif %}</h1>
<h1>{{statusModify}}</h1>
    
{% if modeModify != "new" %}<form style="text-align:center" action="/PN/{{pnToModify.id}}" method="post" >
{% else %}<form style="text-align:center" action="/newDesignation" method="post" >{% endif %}
    
    Nombre:</br>
    <input name="pnName" value="{{pnToModify.name}}"></input>  </br></br>
<!--
    <select name="pnName" select id="pnName">
      {% for pn in pnEvList %}
        {% if pn.name == pnToModify.name %}
          <option value="{{pn.name}}" selected> {{pn.name}}</option>
        {% else %}
          <option value="{{pn.name}}" > {{pn.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
-->

    Programa:</br>
    <input type = "text" name="program" value=A{{pnToModify.programa.name}} readonly ><br><br>

    Para modificar el Programa modifica la designación

    <a href="/Designation/{{pnToModify.Designacion.id}}">{{pnToModify.Designacion.name}}</a>                                                                   
               
    </br> 
    <input id="submit" type = "submit" value = {% if modeModify == "new" %}"Crear"{% else %}"Cambiar"{% endif %}></br></br></br>
                                                          
                                               
</form>    
                              
    <form style="text-align:center" action="/evolucionPN/{{pnToModify.id}}" method="get">
      <input id="submit" type = "submit" value="Evoluciones PN">    
    </form>  </br></br></br>      
    
{% endblock modifyBody %}
