{% extends 'html/modify/modifyBase.html' %}

{% block modifyBody %}

<h1>{{modifyModel}} Seccion{% if modeModify != "new" %}: {% if sectionToModify.name == "380" %}A{% endif %}{{sectionToModify.name}}{% endif %}</h1>
<h1>{{statusModify}}</h1>
    
{% if modeModify != "new" %}<form style="text-align:center" action="/Section/{{sectionToModify.id}}" method="post" >
{% else %}<form style="text-align:center" action="/newSection" method="post" >{% endif %}
    
    Nombre:</br>
    <input name="sectionName" value="{{sectionToModify.name}}"></input>  </br></br>
                                     
    Programa:</br>
    <select style="display:block;margin: 0 auto;" name="sectionProgram" id="sectionProgram">
      {% for program in programList %}
        {% if program == sectionToModify.programa %}
          <option value={{ program.name }} selected> A{{ program.name }}</option>
        {% else %}
          <option value={{ program.name }}> A{{ program.name }}</option>
        {% endif %}
      {% endfor %}
    </select></br>
                              
               
    </br> 
    <input id="submit" type = "submit" value = {% if modeModify == "new" %}"Crear"{% else %}"Cambiar"{% endif %}>
    
</form>    

{% endblock modifyBody %}
